.userData{
    padding: .5rem 1rem;
    margin: .5rem .5rem .5rem .5rem;

    .name{
        font-family: 'Times New Roman', Times, serif;
        color: cornflowerblue;
    }
    .role{
        font-family:'Comic Sans MS';
        color: dimgrey;
    }



}
