<body>
  <app-nav-menu></app-nav-menu>
  <div class="myContainer">
    <h1>Hello Angular!</h1>
    <!--<router-outlet></router-outlet>-->

    <hr />
    <!--<button (click)="ToggleCaded()">Toggle</button>
    <hr />
    <div *ngIf="togo;else noCards">-->
      <!--<app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>-->
      <!--<app-card
          *ngFor=" let item of cards; let idx = index"
          [card]="item"
                [idx]="idx+1">
      </app-card>
    </div>
    <ng-template #noCards>
      <p>
        cards hidden
      </p>
    </ng-template>-->

    <div>
      <p>Users grid</p>
      <app-grid></app-grid>
    </div>
  </div>


</body>
